
/* ---------------background animation--------------*/

.background-animation{
    position: fixed;
    z-index: -1;
    overflow: hidden;
    width: 100vw;
    left: 0;
    top: 0;
}


/* ---------------background images--------------*/

.background-img{
    position: relative;
    opacity: 0.15;
    z-index: 1;
}

.background-img__1{
    width: 20vh;
    left: 0vw;
    
    @include rotate_and_movedown(14s);
    
}


.background-img__2{
    width: 40vh;
    left: 0vw;
    
      @include rotate_and_movedown(20s);
    
}

.background-img__3{
    width: 60vh;
    left: 0vw;
   @include rotate_and_movedown(7s);
}

.background-img__4{
    width: 10vh;
    left: 0vw;
    
    @include rotate_and_movedown(25s);
}

.background-img__5{
    width: 30vh;
    left: 0vw;
    
  @include rotate_and_movedown(30s);
}


.background-img__6{
    width: 10vh;
    left: 0vw;
    @include rotate_and_movedown(5s);
}
.background-img__7{
    width: 20vh;
    left: 0vw;
    
    @include rotate_and_movedown(12s);

}
.background-img__8{
    width: 10vh;
    left: 0vw;
   @include rotate_and_movedown(22s);
}

.background-img__9{
    width: 20vh;
    left: 0vw;
    
    @include rotate_and_movedown(17s);
}


/* ---------------#moving_animation--------------*/



@-webkit-keyframes move-down1 {
    from {
        top: -110vh;
    }
    to {
        top: 100vh;
    }
}

@keyframes move-down1 {
    from {
        top: -110vh;
    }
    to {
        top: 100vh;
    }
}


@-webkit-keyframes move-down2 {
    from {
        top: -150vh;
    }
    to {
        top: 100vh;
    }
}

@keyframes move-down2 {
    from {
        top: -150vh;
    }
    to {
        top: 100vh;
    }
}




@-webkit-keyframes rotate-left {
    from {
        transform: rotate(30deg);
    }
    to {
        transform: rotate(-30deg);
    }
}

@keyframes rotate-left {
    from {
        transform: rotate(30deg);
    }
    to {
        transform: rotate(-30deg);
    }
}


@-webkit-keyframes rotate-right {
    from {
        transform: rotate(-30deg);
    }
    to {
        transform: rotate(30deg);
    }
}

@keyframes rotate-right {
    from {
        transform: rotate(-30deg);
    }
    to {
        transform: rotate(30deg);
    }
}