    /*
 * BASE STYLES
 * ================================ */
    
    //box-sizing model = margin and paddgin inside element so they don't increase width of component.
    html {
        box-sizing: border-box;
    }
    
    * {
       // font-family: 'Poppins', sans-serif;
        &,
        &:before,
        &:after {
            box-sizing: inherit;
        }
    }
    
    body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        @extend .text;
    }
    
    .hidden {
        display: none;
    }
    
    ul li {
        list-style-type: none;
        margin: 5px;
    }
    
    .fa {
        cursor: pointer;
    }
.hidden{
display: none;

}
    /*------------------------------------*\
  #LINKS
\*------------------------------------*/
    
    a {
        color: $black;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        &:hover {
            text-decoration: none;
            opacity: 0.7;
        }
    }
    /* ---------------#section_colors--------------*/
    
    .section-color {
        width: 100vw;
        height: 100vh;
    }
    
   
    /* ---------------#responsiveness--------------*/
    /* ---------------#section_sizes--------------*/
    
    .section-size {
        padding-top: $nav-size*2;
        padding-bottom: 100px;
        width: 960px;
        max-width: 100%;
        margin: auto;
        @include breakpoint ($min: xs) {
            width: 350px;
            max-width: 100%;
        }
        @include breakpoint ($min: sm) {
            width: 620px;
            max-width: 100%;
        }
        @include breakpoint ($min: md) {
            width: 720px;
            max-width: 100%;
        }
        @include breakpoint ($min: lg) {
            width: 1100px;
            max-width: 100%;
        }
        @include breakpoint ($min: xl) {
            width: 1240px;
            max-width: 100%;
        }
    }
    
    .section-size-extra {
        @extend .section-size;
        padding-bottom: 138px;
        @include breakpoint ($min: md) {
            padding-bottom: 193px;
        }
    }
    
    .section-resized-extra-plus {
        @extend .section-size;
        padding-bottom: 149px;
        @include breakpoint ($min: xs) {
            padding-bottom: 212px;
        }
        @include breakpoint ($min:sm) {
            padding-bottom: 219px;
        }
        @include breakpoint ($min:md) {
            padding-bottom: 232px;
        }
        @include breakpoint ($min:lg) {
            padding-bottom: 160px;
        }
    }
    /*----------font_responsiveness------------*/
    
    .title {
        color: $black;
        
        @include breakpoint($min: xs) {
            font-size: map-deep-get($typescale, 'heading1', 'xs');
        }
        @include breakpoint($min:sm) {
            font-size: map-deep-get($typescale, 'heading1', 'sm');
        }
        @include breakpoint($min:md) {
            font-size: map-deep-get($typescale, 'heading1', 'md');
        }
        @include breakpoint($min:lg) {
            font-size: map-deep-get($typescale, 'heading1', 'lg');
        }
        @include breakpoint($min:xl) {
            font-size: map-deep-get($typescale, 'heading1', 'lg');
        }
       line-height: 1.2;
    }
    
    .subtitle {
        color: $black;
        @include breakpoint($min: xs) {
            font-size: map-deep-get($typescale, 'sub1', 'xs');
        }
        @include breakpoint($min:sm) {
            font-size: map-deep-get($typescale, 'sub1', 'sm');
        }
        @include breakpoint($min:md) {
            font-size: map-deep-get($typescale, 'sub1', 'md');
        }
        @include breakpoint($min:lg) {
            font-size: map-deep-get($typescale, 'sub1', 'lg');
        }
    }
    
    .text {
        color: $main-color50;
        @include breakpoint($min: xs) {
            font-size: map-deep-get($typescale, 'text1', 'xs');
        }
        @include breakpoint($min:sm) {
            font-size: map-deep-get($typescale, 'text1', 'sm');
        }
        @include breakpoint($min:md) {
            font-size: map-deep-get($typescale, 'text1', 'md');
        }
        @include breakpoint($min:lg) {
            font-size: map-deep-get($typescale, 'text1', 'lg');
        }
    }
    
    .smalltext {
        @include breakpoint($min: xs) {
            font-size: map-deep-get($typescale, 'smalltext1', 'xs');
        }
        @include breakpoint($min:sm) {
            font-size: map-deep-get($typescale, 'smalltext1', 'sm');
        }
        @include breakpoint($min:md) {
            font-size: map-deep-get($typescale, 'smalltext1', 'md');
        }
        @include breakpoint($min:lg) {
            font-size: map-deep-get($typescale, 'smalltext1', 'lg');
        }
    }
    /*
    Default Headings 
    ----

    h1,h2,h3,h4,h5,h6
*/
    
    @for $i from 1 to 7 {
        h#{$i} {
            margin: 0;
            // font-size: 1em; 
            // font-weight: getFontWeight('semibold');
        }
    }
    /*
  TABLE
  ----

  Ensure tables fill up as much space as possible.
*/
    
 
    table {
        width: 100%;
    }
    
     
 
    
    hr {
        margin: 0 auto;
        width: 100%;
        height: 1px;
        background: currentColor;
        opacity: 0.18;
        padding: 8px 0px;
    }
 

.menu-lateral{
    position: fixed;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
    z-index: 99999;
    text-align: right;

}


/*------------------------------------*\
  #PAGE TITLE
\*------------------------------------*/


.page-title{
    
    display: inline-block;
    padding: 2vm;
}


.scroll-down-animation{
    animation: scroll-down-animation 1.5s cubic-bezier(.06,.83,.33,.89) infinite, opacity-animation 1.5s ease infinite;
}


@keyframes scroll-down-animation {
    from {padding-top: 0vh; padding-bottom: 10vh;}
    to {padding-top: 10vh; padding-bottom: 0vh;}
}

@keyframes opacity-animation {
    from {opacity: 0;}
    to {opacity: 1;}
}



/*------------------------------------*\
  #IMAGE BLOCKS
\*------------------------------------*/


.img-block{
    
    @extend .text-left;
    @extend .element-skew;
    
    img{
        position: relative;
        width: 80%;
        box-shadow: -20px -20px 0px #b3b3b3;
        
        -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
        
        @extend .transition-ease;
    }
    
    h1,h2{
        @extend .gradient-blu-gre__text;
        @extend .transition-ease;
    }
    
    
    h2{
        
        text-shadow: 2px 2px #fff;
    }
    
    
    &:hover{
        img{
            box-shadow: -10px -10px 0px #b3b3b3;
            
            -webkit-filter: grayscale(0%);
                    filter: grayscale(0%);
        }
        h1, h2{
            opacity: 0;
        }
        
        .img-block__text{
            left: 30%;
        }
    }
    
}


.img-block__text{
        position: absolute;
        bottom: 10%;
        left: 10%;
        @extend .transition-ease;
}
 