/* COLOR VARIABLES */

$main-color: #EBEBEB;
$main-color50: rgba(#EBEBEB, 0.5);
$main-color-dark: #a5a1a1;
$black: #000016;
$grey: #696969;
$light: #E0E0E0;

 

/**/

$nav-size: 50px;
$footer-size: 60px;
$form-width: 350px;
//SPACING//
$spacing--x-small: 0.3125rem; //5px;
$spacing--small: 0.6250rem; //10px
$spacing--medium: 0.9375rem; //15px
$spacing--large: 1.250rem; //20px
$spacing--x-large: 1.5625rem; //25px
$spacing--xx-large: 1.875rem; //30px


 @font-face {
    font-family: BoldFont;
    src: url(Poppins-Bold.ttf);
}

 @font-face {
    font-family: SemiBoldFont;
    src: url(Poppins-SemiBold.ttf);
}

 @font-face {
    font-family: TextFont;
    src: url(Poppins-Regular.ttf);
}
