 
/*------------------------------------*\
  #PAGE TITLE
\*------------------------------------*/


.page-title{
    
   display: inline-block;
   
}


.scroll-down-animation{
    animation: scroll-down-animation 1.5s cubic-bezier(.06,.83,.33,.89) infinite, opacity-animation 1.5s ease infinite;
}


@keyframes scroll-down-animation {
    from {padding-top: 0vh; padding-bottom: 10vh;}
    to {padding-top: 10vh; padding-bottom: 0vh;}
}

@keyframes opacity-animation {
    from {opacity: 0;}
    to {opacity: 1;}
}



/*------------------------------------*\
  #IMAGE BLOCKS
\*------------------------------------*/


.img-block{
    
    @extend .text-left;
    @extend .element-skew;
    
    img{
        position: relative;
        width: 70%;
        margin-left: 15%;
        box-shadow: -20px -20px 0px #b3b3b3;
        
        -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
        
        @extend .transition-ease;
    }
    
    h1,h2{
        @extend .gradient-blu-gre__text;
        @extend .transition-ease;
    }
    
    
    h2{
        
        text-shadow: 2px 2px #fff;
    }
    
    
    &:hover{
        img{
            box-shadow: -10px -10px 0px #b3b3b9;
            
            -webkit-filter: grayscale(0%);
                    filter: grayscale(0%);
        }
        
        h1, h2{
            opacity: 0;
        }
        
    }
    
}


.img-block__text{
        position: absolute;
        bottom: 10%;
        left: 20%;
        @extend .transition-ease;
}
 