
/*------------------------------------*\
  #MENU
\*------------------------------------*/
    

    .nav-side {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 999;
        
        li{
            margin-top: 10px;
            
            
        }
    }


    .nav-container-fixed {
        width: 100%;
        position: fixed;
        z-index: 999;
        .menu-logo {
            margin-top: 20px;
            z-index: 999;
         
            max-width: 14vw;
            width:100%; 
            margin-right: 20px;
            @include breakpoint($min:xs){ 
             max-width: 100px;
            width:100%; 
               }
            @include breakpoint($min:sm){ 
             max-width: 130px;
            width:100%; 
               }
            
             @include breakpoint($min:md){ 
             max-width: 150px;
            width:100%; 
               }
             
        }
    }

.menu-selected{
    
    display: inline-block;
    border-bottom: solid 3px #000;
    
}

    



/*----------#MOBILE_NAVBAR--------------------------*/



/*----------#ICON------------*/


.icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}

.icon--hamburger{
    margin: 2px;
}
.icon--hamburger,
.icon--hamburger:before,
.icon--hamburger:after{
    width: 18px;
    height: 2px;
    background: #181818;
    transition: all 0.2s;
}

.icon--hamburger:before,
.icon--hamburger:after{
    content: " ";
    position: absolute;
   right: 0;
    display: block;
}

.icon--hamburger:before{
    top: -5px;
}

.icon--hamburger:after{
    top: 5px;
}
 


/*----------#BUTTON-ICON------------*/


.button--icon-container {
    position: relative;
    width: 30vw;
    
    
    display: inline-block;
    vertical-align: middle;
}

.button--icon-container:before {
    content: " ";
    position: absolute;
    top:0;
    right:0;
    background: rgba(0,0,0,0.12);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all 0.2s;
    transform: scale(0);
}

.button--icon-container:focus:before {
    transform: scale(1.2);

}





/*----------#HEADER------------*/



.header-bar {
    position: fixed;
    width: 100%;
    z-index: 100;
    //padding: 20px;
    right: 0; 
    background: linear-gradient(#FD2, rgba(255, 255, 255, 0));
    padding-bottom: 50px;

}

.header-bar__block {
    display: flex;
    align-items: center;
}

.header-bar__heading {
    background: #2645ff;
    color: white;
    margin: 0;
}


/*----------#SIDEBAR------------*/


.nav {
    position: fixed;
    top:0;
   right:0;
    z-index: 110;
}
.nav__body {
    position: absolute;
    top:0;
    right:0;
    height: 100vh;
    width: 70vw;
    background: white;
    
    opacity: 0;
    transform: translateX(100%);

    transition-property: all;
    transition-timing-function: ease;
    transition-duration: 0.2s;
    transform-origin: top right;
}


 
.overlay{
    position: fixed;
    display: block;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.45);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.2s 0s ease, visibility 0.2s 0.2s ease;
    z-index: 0;
}

.overlay--inner{
    position: absolute;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}






/*----------#NAV-CONTROLER------------*/

.nav-controller {
    position: fixed;
    opacity: 0;
}

.nav-controller:checked ~ .nav .overlay {
    transition-delay: 0s;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.nav-controller:checked ~ .nav .nav__body{
    transform: translateX(0%);
    opacity: 1;
}

.nav-controller:checked ~ .main{
    transform-origin: top right;
     transform: translateX(0px);
}




 /*----------#NAVBAR--------------------------*/

.nav-big {
    display: inline;
    @media only screen and (min-width: 200px) and (max-width: 800px) {
        display: none;
    }
    
    .navbar__header {
        display: none;
    }
     
   }
    
    .nav-small {
        display: none;
        @media only screen and (min-width: 200px) and (max-width: 800px) {
            display: inline;
        }
    } 